<h1>Hello, {{ username }}</h1>

<input type="text" id="feeder" [(ngModel)]="message"> <br>
<button (click)="postFeed()">Post Feed</button>

<hr>

<h1>Feeds:</h1>
<br><br>
<div *ngFor ="let feed of feeds">
  Username: {{ feed['username'] }}<br>
  Message: {{ feed['message'] }}
  <br><br>
</div>
